<a href="https://colab.research.google.com/github/awagler2/PUBH5357/blob/main/demo_for_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read in my data for class

In [2]:
# Install the readr package if you don't have it already
if (!require("readr")) install.packages("readr")

# Load the readr package
library(readr)

# Read the CSV file into a data frame
mydata <- read.csv("well.csv")


dim(mydata)

# Print the first few rows of the data frame to check if it was read correctly
head(mydata)

[1] 335  45

  Well.Number Year Irrigation.Season Month    pH   Conductivity Ca..Calcium.
1 47          2022 No                November 7.35 10380        586.97
2 47          2022 No                December 7.75 10670        669.64
3 47          2023 No                January  7.72  9817        810.18
4 47          2023 No                April    7.80  8066        577.30
5 47          2023 Yes               May      7.70  9129        656.90
6 47          2023 Yes               August   7.33  7251        333.89
  K..Potassium. Mg..Magnesium. Na..Sodium. ⋯ Pb..Lead. Se..Selenium. Sn..Tin.
1 11.24         66.85          1515.76     ⋯ -0.01     -0.01          0
2  8.25         78.69          1420.93     ⋯ -0.01     -0.01          0
3  8.05         57.60          1644.21     ⋯ -0.01     -0.01          0
4  7.00         51.50          1245.33     ⋯ -0.01      0.00          0
5  5.97         32.38          1334.64     ⋯    NA        NA         NA
6  0.00         26.63          1042.47     ⋯ -0.01     -0.01          0
  Sr..Strontium. U..Uranium. V..Vanadium. W..Tungsten. Zn..Zinc. Si..Silicon.
1  0             0.00        0.00          0            0.00     2.68
2  0             0.00        0.00          0            0.00     3.16
3  0             0.00        0.00          0           -0.01     2.52
4  0             0.03        0.00          0            4.17     0.17
5 NA               NA          NA         NA              NA       NA
6 NA             0.00        0.03          0            0.00     3.55
  B..Boron.
1 0.18
2 0.18
3 0.18
4 0.00
5   NA
6 0.14

Now create a summary table

In [11]:
# Install IRdisplay if you don't have it already
if (!require("IRdisplay")) install.packages("IRdisplay")

# Load the IRdisplay package
library(IRdisplay)

# Install gtsummary if you don't have it already
if (!require("gtsummary")) install.packages("gtsummary")

# Load the gtsummary package
library(gtsummary)

# Install knitr if you don't have it already
if (!require("knitr")) install.packages("knitr")

# Load the knitr package
library(knitr)

# Create the summary table
table1 = mydata %>%
  tbl_summary(
    by = Irrigation.Season, # Group by Irrigation.Season
    include = c(pH, Conductivity) # Include pH and Conductivity columns
  ) # Add p-values for comparing groups

kable(table1)

# Convert the gtsummary table to a flextable object
#table1_flextable <- as_flextable(table1)  %>%
# Save the flextable object as an RTF file
#flextable::save_as_docx(path = 'table.docx')

Loading required package: knitr

|**Characteristic** |** No**
N = 1       |**No**
N = 207      |**Yes**
N = 127     |
|:------------------|:--------------------|:--------------------|:--------------------|
|pH                 |7.48 (7.48, 7.48)    |7.91 (7.70, 8.10)    |7.40 (7.22, 7.62)    |
|Unknown            |0                    |0                    |22                   |
|Conductivity       |4,965 (4,965, 4,965) |2,680 (1,467, 4,440) |2,350 (1,589, 4,399) |
|Unknown            |0                    |0                    |22                   |